{{!-- 
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. --}}


<h5 class="card-title">Welcome {{username}}, you have signed in successfully!</h5>

<main class="row">
	<section id="report-container" class="embed-container col-lg-offset-4 col-lg-7 col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7 mt-5">
	</section>
	<section class="error-container m-5">
	</section>
</main>
<footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
    <p class="text-center">
        Demo report Only            
    </p>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/powerbi.min.js"></script>
<script src="/public/js/index.js"></script>      
